venv/
runs/detect/*
!runs/detect/.gitkeep
uploads/*
static/uploads/*
static/Users_Profile/*
static/img/*
!uploads/.gitkeep
!static/uploads/.gitkeep
!static/Users_Profile/.gitkeep
!static/img/.gitkeep
__pycache__/
best.pt
traced_model.pt