{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Comparar Firmas</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Sube las imágenes de las firmas para verificación</h3>
                </div>
                <div class="card-body">
                  <form id="signatureForm" action="/predict_comparar" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                            <label for="imageDoubtful" class="fw-bold">Firma Dubitada</label><br>
                            <input type="file" name="imageDoubtful" id="imageDoubtful" required onchange="previewImage('imageDoubtful', 'canvasDoubtful');">
                            <canvas id="canvasDoubtful" width="500" height="400" style="border: 1px solid #000; margin-top: 10px;"></canvas>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                            <label for="imageIndubitable" class="fw-bold">Firma Indubitada</label><br>
                            <input type="file" name="imageIndubitable" id="imageIndubitable" required onchange="previewImage('imageIndubitable', 'canvasIndubitable');">
                            <canvas id="canvasIndubitable" width="500" height="400" style="border: 1px solid #000; margin-top: 10px;"></canvas>
                        </div>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-check"></i> Verificar</button>
                        <button type="button" class="btn btn-danger btn-flat" onclick="clearResults()"><i class="fa fa-eraser"></i> Limpiar</button>
                      </div>
                  </form>

                  <div id="spinner" class="spinner-overlay" style="display: none;">
                    <div class="spinner">
                        <span class="loader"></span>
                    </div>
                  </div>

                  {% if result %}
                  <div class="alert alert-info mt-3">
                    <p><strong>{{ result }} con un porcentaje de {{ percentage }}%</strong></p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    {% if result %}
    <section class="content" id="resultSection">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Resultados Encontrados</h3>
                        </div>
                        <div class="card-body">
                            <form action='/guardar' method="POST" enctype="multipart/form-data">
                            {% if yolo_image %}
                            <div class="row mt-3">
                                <input type="hidden" id="detalles" name="detalles" class="form-control" value="{{ labels_resultados }}">
                                <input type="hidden" id="casoids" name="casoids" class="form-control" value="{{ casoid }}">
                                <input type="hidden" id="imageResultado" name="imageResultado" class="form-control" value="{{ yolo_image }}">
                                <div class="col-md-3">
                                    <h4>Detalles</h4>
                                    <ul>
                                        {% for label in labels_resultados %}
                                        <li>{{ label }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-9 text-center">
                                    <h4>Resultado en la Firma Dubitada</h4>
                                    <img src="{{ url_for('show_yolo_image', filename=yolo_image.split('/')[-1]) }}" alt="Resultado YOLO" style="height: 300px;">
                                </div>
                            </div>
                            {% endif %}
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>

<script>
function previewImage(inputId, canvasId) {
    var file = document.getElementById(inputId).files[0];
    var reader = new FileReader();
    var canvas = document.getElementById(canvasId);
    var ctx = canvas.getContext('2d');
    
    reader.onload = function(e) {
        var img = new Image();
        img.onload = function() {
            var canvasWidth = canvas.width;
            var canvasHeight = canvas.height;
            var scale = Math.min(canvasWidth / img.width, canvasHeight / img.height);
            var x = (canvasWidth - img.width * scale) / 2;
            var y = (canvasHeight - img.height * scale) / 2;
  
            ctx.clearRect(0, 0, canvasWidth, canvasHeight); 
            ctx.drawImage(img, x, y, img.width * scale, img.height * scale); 
        };
        img.src = e.target.result;
    }
    reader.readAsDataURL(file);
}

// Función para cargar imágenes de los archivos subidos al cargar la página
window.onload = function() {
    var canvasDoubtful = document.getElementById('canvasDoubtful');
    var ctxDoubtful = canvasDoubtful.getContext('2d');
    
    var canvasIndubitable = document.getElementById('canvasIndubitable');
    var ctxIndubitable = canvasIndubitable.getContext('2d');
    
    if ('{{ imagen1 }}') {
        var imgDoubtful = new Image();
        imgDoubtful.src = "{{ imagen1 }}";
        imgDoubtful.onload = function() {
            ctxDoubtful.clearRect(0, 0, canvasDoubtful.width, canvasDoubtful.height);
            ctxDoubtful.drawImage(imgDoubtful, 0, 0, canvasDoubtful.width, canvasDoubtful.height);
        }
    }
    
    if ('{{ imagen2 }}') {
        var imgIndubitable = new Image();
        imgIndubitable.src = "{{ imagen2 }}";
        imgIndubitable.onload = function() {
            ctxIndubitable.clearRect(0, 0, canvasIndubitable.width, canvasIndubitable.height);
            ctxIndubitable.drawImage(imgIndubitable, 0, 0, canvasIndubitable.width, canvasIndubitable.height);
        }
    }
};

document.getElementById('signatureForm').addEventListener('submit', function() {
    document.getElementById('spinner').style.display = 'flex'; 
  });

function clearResults() {
    var canvasDoubtful = document.getElementById('canvasDoubtful');
    var ctxDoubtful = canvasDoubtful.getContext('2d');
    ctxDoubtful.clearRect(0, 0, canvasDoubtful.width, canvasDoubtful.height);
    
    var canvasIndubitable = document.getElementById('canvasIndubitable');
    var ctxIndubitable = canvasIndubitable.getContext('2d');
    ctxIndubitable.clearRect(0, 0, canvasIndubitable.width, canvasIndubitable.height);

    document.getElementById('imageDoubtful').value = '';
    document.getElementById('imageIndubitable').value = '';
    
    var alertBox = document.querySelector('.alert-info');
    if (alertBox) {
        alertBox.remove();
    }
}
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {

    const elemento = document.getElementById("nav_firmas");
    elemento.classList.add("active");

    const li_activar = document.getElementById("li_firmas");
    li_activar.classList.add("menu-is-opening");
    li_activar.classList.add("menu-open");
});
</script>
{% endblock %}
