{% extends 'layout.html' %}

{% block body%}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      
        <div class="row mb-1">
          <div class="col-sm-6">
            <h1 class="m-0">Ultimos casos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <!-- <li class="breadcrumb-item active">Dashboard v2</li> -->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      
    </div>
    <!-- /.content-header -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Casos Documentología</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre del Caso</th>
              <th>Departamento</th>
              <!--th>Firma Dubitada</th>
              <th>Firma Indubitada</th-->
              <th>Descripción</th>
              <th>Fecha Modificada</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for caso in casos %}
            <tr>
              <td style="width:10px;">{{ caso['id_caso'] }}</td>
              <td>{{ caso['nombre_caso'] }}</td>
              <td class="text-center">{{ caso['departamento'] }}</td>
              <!--td>
                <img src="{{ url_for('static', filename='uploads/' + caso['f_dubitada']) }}" alt="Firma Dubitada" style="width: 100px; height: auto;">
              </td>
              <td>
                <img src="{{ url_for('static', filename='uploads/' + caso['f_indubitada']) }}" alt="Firma Indubitada" style="width: 100px; height: auto;">
              </td-->              
              <td>{{ caso['descripcion'] }}</td>
              <td>{{ caso['fecha_modificado'] }}</td>
              <td class="project-actions text-right" style="width:70px;">
                  <a class="btn btn-primary btn-sm" href="/ver/caso/{{caso['id_caso']}}">
                      <i class="fas fa-folder"></i>
                      Ver
                  </a>
                  
              </td>
          </tr>
          {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- Main content -->
    






    <!-- /.content -->
  </div>
{% endblock%}