{% extends 'layout.html' %} {% block body%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>AGREGAR CASO</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item active">Agregar Caso</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements disabled -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">INGRESE LA SIGUIENTE INFORMACION</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form action="{{ url_for('new_case') }}" method="POST" enctype="multipart/form-data">
                <label>Caso :<br /></label>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Nuevo Caso -->
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo_caso" value="Nuevo" checked />
                        <label class="form-check-label">Nuevo Caso</label>
                      </div>
                    </div>
                  </div>
              
                  <div class="col-sm-6">
                    <!-- Caso Registrado -->
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo_caso" value="Registrado" />
                        <label class="form-check-label">Caso Registrado</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="nombre_caso">Nombre del Caso</label>
                  <input type="text" class="form-control" name="nombre_caso" placeholder="Nombre del caso..." required />
                </div>
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control" name="descripcion" rows="3" placeholder="Descripción del caso..." required></textarea>
                </div>
                <div class="form-group">
                  <label for="departamento">Departamento</label>
                  <select class="custom-select form-control-border" name="departamento" required>
                    <option value="La Paz">La Paz</option>
                    <option value="Oruro">Oruro</option>
                    <option value="Potosi">Potosi</option>
                    <option value="Cochabamba">Cochabamba</option>
                    <option value="Chuquisaca">Chuquisaca</option>
                    <option value="Tarija">Tarija</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Beni">Beni</option>
                    <option value="Pando">Pando</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="f_dubitada">Firma Dubitada</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="f_dubitada" id="f_dubitada" onchange="previewFile('f_dubitada_preview', this); updateFileName(this);" required />
                      <label class="custom-file-label" for="f_dubitada">Buscar</label> <!-- Aquí ya cambiamos el texto a "Buscar" -->
                    </div>
                  </div>
                  <img id="f_dubitada_preview" src="#" alt="Vista previa de la firma dubitada" style="display: none; margin-top: 10px; max-width: 100px;" />
                </div>               
                <div class="form-group">
                  <label for="f_indubitada">Firma Indubitada</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="f_indubitada" id="f_indubitada" onchange="previewFile('f_indubitada_preview', this); updateFileName(this);" required />
                      <label class="custom-file-label" for="f_indubitada">Buscar</label> <!-- Cambiado aquí también -->
                    </div>
                  </div>
                  <img id="f_indubitada_preview" src="#" alt="Vista previa de la firma indubitada" style="display: none; margin-top: 10px; max-width: 100px;" />
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="reset" class="btn btn-danger btn-flat pull-left"><i class="fa fa-close"></i>Eliminar Datos</button>
                  <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </form>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script>
  // Función para previsualizar la imagen subida
  function previewFile(previewId, input) {
    const file = input.files[0];
    const preview = document.getElementById(previewId);

    if (file) {
      const reader = new FileReader();
      reader.onloadend = function() {
        preview.src = reader.result;
        preview.style.display = 'block';
      };
      reader.readAsDataURL(file);
    } else {
      preview.src = "#";
      preview.style.display = 'none';
    }
  }

  // Función para actualizar el nombre del archivo
  function updateFileName(input) {
    const fileName = input.files[0].name;
    input.nextElementSibling.innerText = fileName; // Actualiza el label con el nombre del archivo
  }

  // Cambiar el texto de "Browse" a "Buscar" para todos los inputs de archivo al cargar la página
  document.addEventListener('DOMContentLoaded', function() {
    const fileInputs = document.querySelectorAll('.custom-file-input');
    fileInputs.forEach(input => {
      input.nextElementSibling.innerText = 'Buscar'; // Cambia el texto del botón a "Buscar"
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {

    const elemento = document.getElementById("nav_agregar_caso");
    elemento.classList.add("active");

    const li_activar = document.getElementById("li_casos");
    li_activar.classList.add("menu-is-opening");
    li_activar.classList.add("menu-open");
});
</script>

{% endblock%}
