{% extends 'layout.html' %} {% block body%}

<link rel="stylesheet" href="{{url_for('static', filename='/css/modal.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='/plugins/cropperjs/cropper.css')}}"/>
<script src="{{url_for('static', filename='/plugins/cropperjs/cropper.js')}}"></script>


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>AGREGAR CASO</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item active">Agregar Caso</li>
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item active">Agregar Caso</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements disabled -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">INGRESE LA SIGUIENTE INFORMACION</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form action="{{ url_for('new_case') }}" method="POST" enctype="multipart/form-data">
                <label>Caso :<br /></label>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Nuevo Caso -->
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo_caso" value="Nuevo" checked />
                        <label class="form-check-label">Nuevo Caso</label>
                      </div>
                    </div>
                  </div>
              
                  <div class="col-sm-6">
                    <!-- Caso Registrado -->
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo_caso" value="Registrado" />
                        <label class="form-check-label">Caso Registrado</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="nombre_caso">Nombre del Caso</label>
                  <input type="text" class="form-control" name="nombre_caso" placeholder="Nombre del caso..." pattern="[A-Za-z0-9*\s]{4,}" title="El nombre del debe tener al menos 4 letras." required />
                  {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                      <ul>
                        {% for category, message in messages %}
                          {% if category == 'error_nombre_caso' %}
                            <li class="{{ category }} text-danger">{{ message }}</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}
                </div>
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control" name="descripcion" rows="3" placeholder="Descripción del caso..." pattern="[A-Za-z0-9*\s]{4,}" title="La descripcion debe tener al menos 4 letras." required></textarea>
                </div>
                <div class="form-group">
                  <label>Perito Asignado al Caso</label>
                  <select class="custom-select form-control-border" name="perito" required>
                    {% if session['admin']==0 %}
                      <option selected value="{{session['id_usuario']}}">{{session['nombre']}} {{session['apellido']}}</option>
                    {% else %}
                      <option selected disabled>Selecciona un perito ...</option>
                      {% if peritos %}
                        {% for perito in peritos%}
                          <option value="{{perito['id_usuario']}}">{{perito['nombre']}} {{perito['apellido']}}</option>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="departamento">Departamento</label>
                  <select class="custom-select form-control-border" name="departamento" required>
                    <option value="La Paz">La Paz</option>
                    <option value="Oruro">Oruro</option>
                    <option value="Potosi">Potosi</option>
                    <option value="Cochabamba">Cochabamba</option>
                    <option value="Chuquisaca">Chuquisaca</option>
                    <option value="Tarija">Tarija</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Beni">Beni</option>
                    <option value="Pando">Pando</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="f_dubitada">Firma Dubitada</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="f_dubitada" id="f_dubitada" onchange="previewFile('f_dubitada_preview', this); updateFileName(this);" required />
                      <label class="custom-file-label" for="f_dubitada">Buscar</label> <!-- Aquí ya cambiamos el texto a "Buscar" -->
                    </div>
                  </div>
                  
                </div>               
                <div class="form-group">
                  <label for="f_indubitada">Firma Indubitada</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="f_indubitada" id="f_indubitada" onchange="previewFile('f_indubitada_preview', this); updateFileName(this);" required />
                      <label class="custom-file-label" for="f_indubitada">Buscar</label> <!-- Cambiado aquí también -->
                    </div>
                  </div>
                  
                </div>
                <div class="modal-footer justify-content-center">
                  
                  
                  
                  <button type="button" class="btn btn-success " id="openModalBtn"><i class="fa fa-edit"></i> Firma Dubitada</button>
                  
                  <button type="button" class="btn btn-warning " id="openModalBtn2"><i class="fa fa-edit"></i> Firma Indubitada</button>
                  <button type="reset" class="btn btn-danger btn-flat pull-left"><i class="fa fa-trash"></i> Eliminar Datos</button>
                  <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </form>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>



<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cropModalLabel">Editar Firma Dubitada</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="crop-container">
                  <img id="image" src="" alt="Imagen a recortar">
              </div>
              <div class="preview-container">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; width: 300px; overflow: hidden;">
                  <img id="preview" src="" alt="Vista previa" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                  <br><br>
                </div>
                  
                  <div class="controls mt-3">
                      <div class="row">
                          <div class="col-12 mb-3 py-10">
                              <label for="brightness">Brillo:</label>
                              <input type="range" id="brightness" min="0" max="200" value="100">
                          </div>
                          <div class="col-12 mb-3">
                              <label for="contrast">Contraste:</label>
                              <input type="range" id="contrast" min="0" max="200" value="100">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="rotation">Rotación:</label>
                              <input type="number" class="mx-3"id="rotation" min="-180" max="180" value="0" style="width: 80px;">
                          </div>
                        
                        
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
              <button type="button" class="btn btn-primary" id="guardar"><i class="fa fa-save"></i> Guardar</button>
              
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="cropModal2" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cropModalLabel2">Editar Firma Indubitada</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="crop-container">
                  <img id="image2" src="" alt="Imagen a recortar 2">
              </div>
              <div class="preview-container">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; width: 300px; overflow: hidden;">
                  <img id="preview2" src="" alt="Vista previa 2" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                  <br><br>
                </div>
                  
                  <div class="controls mt-3">
                      <div class="row">
                          <div class="col-12 mb-3">
                              <label for="brightness2">Brillo:</label>
                              <input type="range" id="brightness2" min="0" max="200" value="100">
                          </div>
                          <div class="col-12 mb-3">
                              <label for="contrast2">Contraste:</label>
                              <input type="range" id="contrast2" min="0" max="200" value="100">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="rotation">Rotación:</label>
                              <input type="number" class="mx-3"id="rotation2" min="-180" max="180" value="0" style="width: 80px;">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
              <button type="button" class="btn btn-primary" id="guardar2"><i class="fa fa-save"></i> Guardar</button>
              
          </div>
      </div>
  </div>
</div>

<script>
  // Función para previsualizar la imagen subida
  function previewFile(previewId, input) {
    const file = input.files[0];
    const preview = document.getElementById(previewId);

    if (file) {
      const reader = new FileReader();
      reader.onloadend = function() {
        preview.src = reader.result;
        preview.style.display = 'block';
      };
      reader.readAsDataURL(file);
    } else {
      preview.src = "#";
      preview.style.display = 'none';
    }
  }

  // Función para actualizar el nombre del archivo
  function updateFileName(input) {
    const fileName = input.files[0].name;
    input.nextElementSibling.innerText = fileName; // Actualiza el label con el nombre del archivo
  }

 
  document.addEventListener('DOMContentLoaded', function() {
    const fileInputs = document.querySelectorAll('.custom-file-input');
    fileInputs.forEach(input => {
      input.nextElementSibling.innerText = 'Buscar'; 
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {

    const elemento = document.getElementById("nav_agregar_caso");
    elemento.classList.add("active");

    const li_activar = document.getElementById("li_casos");
    li_activar.classList.add("menu-is-opening");
    li_activar.classList.add("menu-open");
});
</script>
<script>
  let cropper;

document.getElementById('openModalBtn').addEventListener('click', function () {
    const input = document.getElementById('f_dubitada');
    const file = input.files[0];
    const reader = new FileReader();

    reader.onload = function (event) {
        document.getElementById('image').src = event.target.result;
        $('#cropModal').modal('show');
    };

    if (file) {
        reader.readAsDataURL(file);
    }
});
$('#cropModal').on('shown.bs.modal', function () {
    const image = document.getElementById('image');
    cropper = new Cropper(image, {
        aspectRatio: NaN,
        viewMode: 1,
        crop: function(event) {
            const canvas = cropper.getCroppedCanvas();
            const preview = document.getElementById('preview');
            preview.src = canvas.toDataURL(); 
            preview.style.display = 'block'; 
        }
    });
});


$('#cropModal').on('hidden.bs.modal', function () {
    cropper.destroy();
    document.getElementById('preview').style.display = 'none'; 
});

function updatePreview() {
    const brightness = document.getElementById('brightness').value;
    const contrast = document.getElementById('contrast').value;
    const rotation = document.getElementById('rotation').value;
    
    const preview = document.getElementById('preview');
    preview.style.filter = `brightness(${brightness}%) contrast(${contrast}%)`;
    preview.style.transform = `rotate(${rotation}deg)`;
}

document.getElementById('brightness').addEventListener('input', updatePreview);
document.getElementById('contrast').addEventListener('input', updatePreview);
document.getElementById('rotation').addEventListener('input', updatePreview);

document.getElementById('guardar').addEventListener('click', function () {
  const canvas = cropper.getCroppedCanvas(); 
  const brightness = document.getElementById('brightness').value;
  const contrast = document.getElementById('contrast').value;
  const rotation = document.getElementById('rotation').value;
  const aspectRatio = canvas.height / canvas.width;
  const targetWidth = 640;
  const targetHeight = targetWidth * aspectRatio;
  const tempCanvas = document.createElement('canvas');
  const tempContext = tempCanvas.getContext('2d');
  let rotatedWidth = targetWidth;
  let rotatedHeight = targetHeight;

  if (rotation !== "0") {
      const radians = rotation * Math.PI / 180;
      rotatedWidth = Math.abs(targetWidth * Math.cos(radians)) + Math.abs(targetHeight * Math.sin(radians));
      rotatedHeight = Math.abs(targetWidth * Math.sin(radians)) + Math.abs(targetHeight * Math.cos(radians));
  }
  
  tempCanvas.width = rotatedWidth;
  tempCanvas.height = rotatedHeight;
  tempContext.filter = `brightness(${brightness}%) contrast(${contrast}%)`;

  if (rotation !== "0") {
      tempContext.translate(rotatedWidth / 2, rotatedHeight / 2);
      tempContext.rotate(rotation * Math.PI / 180);
      tempContext.drawImage(canvas, -targetWidth / 2, -targetHeight / 2, targetWidth, targetHeight);
  } else {
      tempContext.drawImage(canvas, 0, 0, targetWidth, targetHeight);
  }
  tempCanvas.toBlob(function(blob) {
      const timestamp = new Date().toISOString().replace(/:/g, '-').split('.')[0]; 
      const file = new File([blob], `imagen_editada_${timestamp}.png`, { type: 'image/png' });
      const dataTransfer = new DataTransfer();
      dataTransfer.items.add(file);
      document.getElementById('f_dubitada').files = dataTransfer.files;
      $('#cropModal').modal('hide');
  }, 'image/png');
});

let cropper2;

document.getElementById('openModalBtn2').addEventListener('click', function () {
    const input = document.getElementById('f_indubitada');
    const file = input.files[0];
    const reader = new FileReader();

    reader.onload = function (event) {
        document.getElementById('image2').src = event.target.result;
        $('#cropModal2').modal('show');
    };

    if (file) {
        reader.readAsDataURL(file);
    }
});

$('#cropModal2').on('shown.bs.modal', function () {
    const image = document.getElementById('image2');
    cropper2 = new Cropper(image, {
        aspectRatio: NaN,
        viewMode: 1,
        crop: function(event) {
            const canvas = cropper2.getCroppedCanvas();
            const preview = document.getElementById('preview2');
            preview.src = canvas.toDataURL();
            preview.style.display = 'block'; 
        }
    });
});

$('#cropModal2').on('hidden.bs.modal', function () {
    cropper2.destroy();
    document.getElementById('preview2').style.display = 'none'; 
});

function updatePreview2() {
    const brightness = document.getElementById('brightness2').value;
    const contrast = document.getElementById('contrast2').value;
    const rotation = document.getElementById('rotation2').value;
    const preview = document.getElementById('preview2');
    preview.style.filter = `brightness(${brightness}%) contrast(${contrast}%)`;
    preview.style.transform = `rotate(${rotation}deg)`;
}

document.getElementById('brightness2').addEventListener('input', updatePreview2);
document.getElementById('contrast2').addEventListener('input', updatePreview2);
document.getElementById('rotation2').addEventListener('input', updatePreview2);

document.getElementById('guardar2').addEventListener('click', function () {
  const canvas = cropper2.getCroppedCanvas(); 
  const brightness = document.getElementById('brightness2').value;
  const contrast = document.getElementById('contrast2').value;
  const rotation = document.getElementById('rotation2').value;
  const aspectRatio = canvas.height / canvas.width;
  const targetWidth = 640;
  const targetHeight = targetWidth * aspectRatio;
  const tempCanvas = document.createElement('canvas');
  const tempContext = tempCanvas.getContext('2d');
  let rotatedWidth = targetWidth;
  let rotatedHeight = targetHeight;

  if (rotation !== "0") {
      const radians = rotation * Math.PI / 180;
      rotatedWidth = Math.abs(targetWidth * Math.cos(radians)) + Math.abs(targetHeight * Math.sin(radians));
      rotatedHeight = Math.abs(targetWidth * Math.sin(radians)) + Math.abs(targetHeight * Math.cos(radians));
  }
  
  tempCanvas.width = rotatedWidth;
  tempCanvas.height = rotatedHeight;
  tempContext.filter = `brightness(${brightness}%) contrast(${contrast}%)`;

  if (rotation !== "0") {
      tempContext.translate(rotatedWidth / 2, rotatedHeight / 2);
      tempContext.rotate(rotation * Math.PI / 180);
      tempContext.drawImage(canvas, -targetWidth / 2, -targetHeight / 2, targetWidth, targetHeight);
  } else {
      tempContext.drawImage(canvas, 0, 0, targetWidth, targetHeight);
  }

  tempCanvas.toBlob(function(blob) {
      const timestamp = new Date().toISOString().replace(/:/g, '-').split('.')[0]; 
      const file = new File([blob], `imagen_procesada_${timestamp}.png`, { type: 'image/png' });
      const dataTransfer = new DataTransfer();
      dataTransfer.items.add(file);
      document.getElementById('f_indubitada').files = dataTransfer.files;
      $('#cropModal2').modal('hide');
  }, 'image/png');
});
  </script>
  
<script>


{% endblock%}
