{% extends 'layout.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/modal.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='/plugins/cropperjs/cropper.css')}}"/>
<script src="{{url_for('static', filename='/plugins/cropperjs/cropper.js')}}"></script>

{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Descripción del Caso {{caso['id_caso']}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
              <li class="breadcrumb-item active">Casos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Informe del Caso N° {{caso['id_caso']}}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <b>Tipo de Caso:</b>
                    <p>{{caso['tipo_caso']}}</p>
                    <b>Nombre del Caso:</b>
                    <p>{{caso['nombre_caso']}}</p>
                    <b>Descripción del Caso:</b>
                    <p>{{caso['descripcion']}}</p>
                    <b>Departamento del Caso:</b>
                    <p>{{caso['departamento']}}</p>
                    <b>Fecha del Caso:</b>
                    <p>{{caso['fecha']}}</p>
                    <b>Fecha de Modificación del Caso:</b>
                    <p>{{caso['fecha_modificado']}}</p>
                    {% if detalles %}
                    <br/>    
                    <hr>
                        <b><i>Datos Firma procesada</i></b>
                        <br/> 
                        {% for nombre, valor in detalles %}
                          <p><b>{{nombre}}:</b> {{valor}}</p>
                          
                        {% endfor %}
                        <!--    FALTA AUMENTAR DATOS DE RESULTADOS    -->
                        <p></p>
                    {% else %}
                        <br/>
                        <p>Caso No Procesado Aun</p>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <b>Firma Dubitada</b>
                                <br/>
                                <br/>
                            </div>
                            <div class="row">
                                <img src="{{ url_for('static', filename='uploads/' + caso['f_dubitada']) }}" alt="Firma Dubitada" style="width: 250px; height: auto;">
                            </div>
                            
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <b>Firma Indubitada</b>
                                <br/>
                                <br/>
                            </div>
                            <div class="row">
                                <img src="{{ url_for('static', filename='uploads/' + caso['f_indubitada']) }}" alt="Firma Dubitada" style="width: 250px; height: auto;">
                            </div>
                        </div>
                    </div>
                    {% if resultados %}
                          <br/>
                            <br/>
                        <div class="row text-center">
                            <b>Firma Procesada</b>
                            <br/>
                            <br/>
                        </div>
                        <div class="row">
                          <a href="#" data-bs-toggle="modal" data-bs-target="#cropModal">
                              <img id="resultadoImagen" src="{{ url_for('mostrar_imagen_procesada', ruta_c=resultados['ruta_carpeta'], filename=resultados['ruta_imagen']) }}" alt="Resultado YOLO" style="width: 500px;">
                          </a>
                      </div>
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
        <!-- /.card-body -->
      </div>
      <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropModalLabel">Editar Firma Dubitada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="crop-container">
                        <img id="image" src="" alt="Imagen a recortar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
    .crop-container img {
        max-width: 100%;  
        height: auto;     
        display: block;  
        margin: 0 auto;   
    }
    </style>
    
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script>
  let cropper;
  document.querySelector('[data-bs-target="#cropModal"]').addEventListener('click', function () {
      const resultadoImagenSrc = document.getElementById('resultadoImagen').src;
      document.getElementById('image').src = resultadoImagenSrc;
  });
  $('#cropModal').on('shown.bs.modal', function () {
      const image = document.getElementById('image');
      cropper = new Cropper(image, {
          aspectRatio: NaN,
          viewMode: 1,
          crop: function (event) {
              const canvas = cropper.getCroppedCanvas();
              const preview = document.getElementById('preview');
              preview.src = canvas.toDataURL();
              preview.style.display = 'block';
          }
      });
  });

  $('#cropModal').on('hidden.bs.modal', function () {
      cropper.destroy();
  });
</script>

{% endblock %}
